body {
    margin: 0;
}

header {
    background-image: url('./background.png');
   background-size: cover; 
   background-position: center;
   padding-top: 3em;
   padding-bottom: 3em;
}

h1 {
    color: pink;
    margin-block-start: 0;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr;
}

.recipe-box {
    max-width: 760px;
    min-width: min-content;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: 1em 1fr 1fr 1fr 1em;
    grid-template-columns: 1fr 1fr 1fr 1em;
    grid-template-areas: 
        "pic . . ."
        "pic title source ."
        "pic tags time ."
        "pic ingredients lastmade ."
        "pic . . ."
    ;
    
/*    grid-template: 2fr 1fr 1fr / 3fr 1fr 1fr 1em;
    grid-template-areas: 
        "pic title source ."
        "pic tags   time  ."
        "pic ing .   ."
    ;*/
    /*grid-template: 2fr 1fr 1fr 1fr 1em / 1em 1fr 1fr 1em ;
    grid-template-areas: 
        ". pic pic ."
        ". title source ."
        ". tags time ."
        ". ing ing ."
    ;*/
}   
.recipe-image {
    grid-area: pic;
    align-self: stretch;
}
.recipe-title {
    grid-area: title;
    background-color: blueviolet;
}
.recipe-source {
    grid-area: source;
    background-color: aquamarine;
    justify-self: end;

}
.recipe-tags {
    grid-area: tags;
    background-color: bisque;
}
.recipe-time {
    grid-area: time;
    background-color: royalblue;
    justify-self: end;

}
.recipe-ingredients {
    grid-area: ingredients;
    background-color: orange;
}
.recipe-made {
    grid-area: lastmade;
    background-color: yellowgreen;
    justify-self: end;
}
.recipe-box img {
    border: 1px solid palevioletred;
    width: 100%;
}